<form name="customerForm" role="form">

  <script cam-script type="text/form-script">

    // create object
    //var mealForm = $scope.mealForm = {};
    //var meal  = $scope.meal = {};
    //var ingredient = $scope.ingredient = {};

    // create array
    //var mealList = mealForm.mealList[];
    //var ingredientList = meal.ingredientList[];

    // angular form works on scope object

      var mealForm = $scope.mealForm = {
        mealList : []
      };
    /**
      var meal = $scope.meal = {
        ingredientList : []
      };
     */
    // add specific object to array:
    // meal.ingredientList.push(ingredient);
    // mealForm.mealList.push(meal);

    // scope function which adds a new meal and ingredients
    /**
      $scope.addIngredient = function() {
        meal.ingredientList.push({});
      };
    */
    $scope.addMeal = function() {
      mealForm.mealList.push({});
    };

    /**
     * cam form lifecycle hooks
     */
    camForm.on('form-loaded', function() {

      // declare variable 'mealForm' incuding metadata for serialization
      camForm.variableManager.createVariable({
        name: 'mealForm',
        type: 'Object',
        value: mealForm,
        valueInfo: {
          // indicate that object is serialized as json
          serializationDataFormat: 'application/json',
          // provide classname of java object
          objectTypeName: 'com.github.electr0nik.camunda.purchaseorder.form.MealForm'
        }
      });

      // declare variable 'meal' incuding metadata for serialization
      /**
        camForm.variableManager.createVariable({
          name: 'meal',
          type: 'Object',
          value: meal,
          valueInfo: {
            // indicate that object is serialized as json
            serializationDataFormat: 'application/json',
            // provide classname of java object
            objectTypeName: 'com.github.electr0nik.camunda.purchaseorder.model.Meal'
          }
        });
      */
    });

    camForm.on('submit', function() {
      // remove '$$hashKey' properties from meal objects
      angular.forEach(mealForm.mealList, function(mealF) {
        /**
          angular.forEach(mealF.ingredientList, function(ingredient) {
            delete ingredient.$$hashKey;
          });
        */
        delete mealF.$$hashKey;
      });
    });
  </script>

  <h3>MealList</h3>

  <div>
    <h3>Meal</h3>
    <a href ng-click="addMeal()" class="btn btn-default">Add</a>

    <div ng-repeat="mealF in mealForm.mealList">
      <hr>
      <div class="control-group">
        <label class="control-label" for="mealFName">Meal Name</label>

        <div class="controls">
          <input id="mealFName" class="form-control" type="text" required ng-model="mealF.name">
        </div>
      </div>

      <!--
      <div>
        <h3>Ingredients</h3>
        <a href ng-click="addIngredient()" class="btn btn-default">Add</a>

        <div ng-repeat="ingredient in mealF.ingredientList">
          <hr>
          <div class="control-group">
            <label class="control-label" for="ingName">Ingredient Name</label>

            <div class="controls">
              <input id="ingName" class="form-control" type="text" required ng-model="ingredient.name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="ingAmount">Ingredient Amount</label>

            <div class="controls">
              <input id="ingAmount" class="form-control" type="text" required ng-model="ingredient.amount">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="ingPrice">Ingredient Price</label>

            <div class="controls">
              <input id="ingPrice" class="form-control" type="text" required ng-model="ingredient.priceInCent">
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</form>