<form name="meal" role="form">

  <script cam-script type="text/form-script">

    // angular form works on scope object
    var meal = $scope.meal = {
      ingredientList : []
    };

    // scope function which adds a new ingredients
    $scope.addIngredient = function() {
      meal.ingredientList.push({});
    };

    camForm.on('form-loaded', function() {
      // declare variable 'meal' incuding metadata for serialization
      camForm.variableManager.createVariable({
        name: 'meal',
        type: 'Object',
        value: meal,
        valueInfo: {
          // indicate that object is serialized as json
          serializationDataFormat: 'application/json',
          // provide classname of java object
          objectTypeName: 'com.github.electr0nik.camunda.purchaseorder.model.Meal'
        }
      });

    });

    camForm.on('submit', function() {
      // remove '$$hashKey' properties from ingredient objects
      angular.forEach(meal.ingredientList, function(ingredient) {
        delete ingredient.$$hashKey;
      });
    });



  </script>

  <h3>Meal</h3>

  <div class="control-group">
    <label class="control-label" for="name">Meal name</label>

    <div class="controls">
      <input id="name" class="form-control" type="text" required ng-model="meal.name">
    </div>
  </div>

  <div>
    <h3>Ingredients</h3>
    <a href ng-click="addIngredient()" class="btn btn-default">Add</a>

    <div ng-repeat="ingredient in meal.ingredientList">
      <hr>
      <div class="control-group">
        <label class="control-label" for="ingName">Ingredient name</label>

        <div class="controls">
          <input id="ingName" class="form-control" type="text" required ng-model="ingredient.name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="ingAmount">Ingredient amount</label>

        <div class="controls">
          <input id="ingAmount" class="form-control" type="text" required ng-model="ingredient.amount">
        </div>
      </div>
    </div>
  </div>
</form>