<form name="customForm" role="form">

  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
      // fetch the variable named 'fullPrice'
      camForm.variableManager.fetchVariable('fullPrice');
      // fetch the variable named 'mealForm'
      camForm.variableManager.fetchVariable('mealForm');
    });

    camForm.on('variables-fetched', function() {
      // after the variables are fetched, bind the value of mealForm to a angular
      // scope value such that the form can work on it
      $scope.fullPrice = camForm.variableManager.variable('fullPrice').value;
      // after the variables are fetched, bind the value of mealForm to a angular
      // scope value such that the form can work on it
      $scope.mealForm = camForm.variableManager.variable('mealForm').value;
    });

    camForm.on('submit', function() {
      // remove '$$hashKey' properties from meal objects
      angular.forEach($scope.mealForm.mealList, function(meal) {
        delete meal.$$hashKey;
        angular.forEach(meal.ingredientList, function(ing) {
          delete ing.$$hashKey;
        });
      });
    });

  </script>
  <div>
    <h3>Order Overview</h3>

    <div ng-repeat="meal in mealForm.mealList">
      <div ng-repeat="ingredient in meal.ingredientList">
        <div>
          name: {{ingredient.name}}<br> 
          amount: {{ingredient.amount}}<br> 
          price: {{ingredient.priceInCent}}<br>
        </div>
        <br>
      </div>
    </div>
    full price: <strong>{{fullPrice}}</strong><br>

    <div class="form-group">
      <label>Continue?</label> <select cam-variable-name="isContinue" cam-variable-type="Boolean">
        <option value="true">Continue with order</option>
        <option value="false">Cancel</option>
      </select>
    </div>
  </div>
</form>